:root {
  --primary-color: #f07807;
  --secondary-color: #f7e5d8;
  --default-shadow: 0 4px 8px #0008;
  --default-padding: 0 80px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--secondary-color);
}

header {
  height: 80px;
  position: fixed;
  width: 100vw;
  /* top: 60px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--default-padding);
  z-index: 100;
  /* backdrop-filter: blur(2px); */
  background-color: var(--secondary-color);
  /* background-image: url("./img/background.svg"); */
  /* background-repeat: no-repeat; */
  /* background-position: 50vw 0vh; */
  /* background-size: contain; */
}

header menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  font-size: 1rem;
}

header li {
  padding: 4px 8px;
  transition: 0.5s;
}

header li:hover {
  background-color: var(--secondary-color);
  box-shadow: var(--default-shadow);
}

.login {
  height: 48px;
  width: 120px;
  border-radius: 12px;
  border: none;
  background-color: var(--secondary-color);
  box-shadow: var(--default-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 700;
  transition: 0.2s;
}

.login:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.login:active {
  transform: scale(0.9);
}

section {
  height: 100vh;
  padding: var(--default-padding);
}

.home {
  background-color: var(--secondary-color);
  background-image: url("./img/background.svg");
  background-repeat: no-repeat;
  background-position: 49.97vw 0vh;
  background-size: contain;
  display: grid;
  grid-template-rows: 3fr 1fr;
}

.container-slogan {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 64px;
}

.slogan {
  position: relative;
  bottom: 100px;
  font-size: 4rem;
  width: 560px;
  font-weight: 400;
  font-style: italic;
}

.slogan span {
  color: var(--primary-color);
}

.container-produtos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.produto {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}
.overflow {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.add-produto {
  position: absolute;
  top: -16px;
  right: -16px;
  width: 40px;
  height: 40px;
  background-color: var(--primary-color);
  border-radius: 12px;
  border: 4px solid white;
  color: white;
  font-size: 2rem;
  display: grid;
  place-content: center;
  transition: 0.5s;
  opacity: 0;
  z-index: 9;
}

.produto:hover .add-produto {
  opacity: 1;
  cursor: pointer;
}

.container-info {
  position: absolute;
  bottom: -36px;
  height: 36px;
  width: 100%;
  background-color: #0009;
  transition: 0.5s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.container-info span:nth-of-type(1) {
  font-size: 10px;
  width: 102px;
  color: white;
}

.container-info span:nth-of-type(2) {
  font-size: 12px;
  width: 57px;
  height: 20px;
  background-color: var(--primary-color);
  color: white;
}

.produto:hover .container-info {
  bottom: 0;
}

.cardapio {
  background-color: white;
}

.servicos {
  background-color: lightblue;
}

footer {
  background-color: pink;
  height: 526px;
}

.section-title {
  display: flex;
  gap: 24px;
  align-items: center;
}

.section-title h3 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.item-text {
  display: flex;
  justify-content: space-between;
  color: var(--primary-color);
}

.item-text h4,
a {
  font-size: 1.5rem;
  font-weight: 600;
}

.cardapio-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 250px;
  border-bottom: 2px solid var(--primary-color);
}

.cardapio-item:last-child {
  border-bottom: none;
}

.bebida {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
}

.bebida:hover {
  box-shadow: 0 0 16px #000;
}

.bebida p {
  width: 100%;
}

.preco {
  font-size: 1rem;
  color: var(--primary-color);
  font-weight: 600;
}

.descricao {
  font-size: 0.5rem;
}

.servicos {
  background-color: var(--secondary-color);
  height: auto;
}

.servicos-container {
  display: flex;
  justify-content: space-around;
}

.servico-item {
  width: 400px;
  height: 500px;
  border: 4px solid var(--primary-color);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px;
}

.servico-item img {
  filter: drop-shadow(var(--default-shadow));
}

.servico-item h4 {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--primary-color);
  text-shadow: var(--default-shadow);
}

.servico-item p {
  text-align: center;
  text-shadow: var(--default-shadow);
}
